<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style lang='sass'>
      @media screen and (min-width: 320px) {
          html, body, button, input, select, textarea {
              font-size: 50px !important;
          }
      }

      @media screen and (min-width: 374px) {
          html, body, button, input, select, textarea {
              font-size: 75px !important;
          }
      }

      .title{
          font-size: 1rem;
      }
      .fs\:12{
          font-size: 5vmax;
          border-bottom: 1px solid #ccc;
      }
      /*@function px2vw()*/
  </style>
</head>
<body>

<div>我是一个哈哈</div>

<div class='title'>我是标题</div>
<div class='fs:12'>我是标题fs12</div>

</body>
</html>