<template>
    <div class="launch">
        <div class="formItem">
            <div class="name">{{ mode === "average" ? "单个金额" : "总金额" }}</div>
            <div v-if="mode !== 'average'" class="tag">拼</div>
            <div class="right">
                <input
                    v-model="price"
                    type="number"
                    @focus="inputFoucs"
                    @blur="inputBlur"
                    :placeholder="mode === 'average' ? '请输入单个红包金额' : '请输入红包金额'"
                />
                <span>元</span>
            </div>
        </div>

        <div class="EC6 ET6 " style="margin:0.08rem 0.32rem 0.32rem">
            当前为{{ mode === "average" ? "等分" : "拼手气" }}红包,<span
            style="color:#F0B55F;font-weight: bold"
            @click="changeMode"
        >改为{{ mode === "average" ? "拼手气" : "等分" }}红包</span
        >
        </div>

        <div class="formItem">
            <div class="name">红包个数</div>
            <div class="right">
                <input
                    @focus="inputFoucs"
                    @blur="inputBlur"
                    type="number"
                    step="1"
                    v-model="count"
                    placeholder="请输入红包个数"
                />
                <span>个</span>
            </div>
            <div class="border"></div>
        </div>
        <div class="formItem">
            <div style="text-align: left" class="right">
                <textarea
                    @focus="inputFoucs"
                    @blur="inputBlur"
                    ref="bestWishDom"
                    type="text"
                    rows="1"
                    v-model="bestwish"
                    placeholder="恭喜发财，大吉大利"
                />
                <!--                <div class="ET5 bestwishCounter">{{ bestwish.length }}/25</div>-->
            </div>
        </div>
        <div class="preview">
            <div class="ET4 price">¥{{ ((mode === "average" ? calcTax : price * 100) / 100).toFixed(2) }}</div>
            <div
                :class="{ visiableNone: this.calcTax === Number((this.total * 100).toFixed()) }"
                style="margin-top: 0.1rem;color:#999999"
                class="ET5"
            >
                包含微信0.6%手续费<span v-if="mode === 'luck'">，实际发出金额为{{ this.calcPrice / 100 }}元</span>
            </div>
            <div @click="send" class="button" :class="{ disable: !canISend }">塞钱进红包</div>
            <div style="margin-top:0.24rem;color: #999999;opacity: 0.6" class="ET6">24小时未领取将退回微信钱包</div>
        </div>
    </div>
</template>

<script>
import { Toast } from "vant";


export default {
    name: "RedEnvelopeLaunch",
    data() {
        return {
            // 单个红包金额
            price: "",
            //红包数量
            count: "",
            // average:等分,luck：拼手气
            mode: "luck",
            // 祝福语
            bestwish: "",
            //当前红包的订单id,用于im容错
            currentRedEnvelopOrderId: "",
            // 当前红包Id
            currentRedEnvelopeId: "",
            checkImOrderTimeout: null,
        };
    },
    computed: {
        total() {
            if (this.mode === "average") {
                return (this.price * this.count).toFixed(2);
            }
            return Number(this.price).toFixed(2);
        },
        canISend() {
            const notEmpty = this.price !== "" && this.count !== "";
            return this.checkCount() === true && this.checkPrice() === true && this.total <= 200 && notEmpty;
        },
        //计算增加手续费后的支付金额(等分算法)
        calcTax() {
            if (["appjkyl58fL2930", "appS3X3uOm34953", "appbFbNS17q1411"].includes(window.APPID)) return this.total;
            // 这里有0.1+0.2的问题
            const price = Number((this.total * 100).toFixed());
            const pay_price_min = Math.floor(price / (1 - 0.006));
            const pay_price_max = Math.ceil(price / (1 - 0.006));
            // console.log(pay_price_min, pay_price_max, price, price / (1 - 0.006));
            let fee = Math.round(pay_price_min * 0.006);
            let real_price = pay_price_min - fee;
            if (real_price === price) {
                return pay_price_min;
            }
            fee = Math.round(pay_price_max * 0.006);
            real_price = pay_price_max - fee;
            if (real_price === price) {
                return pay_price_max;
            }
            return price;
        },
        // 拼手气算法
        calcPrice() {
            if (["appjkyl58fL2930", "appS3X3uOm34953", "appbFbNS17q1411"].includes(window.APPID)) return this.total;
            // 这里有0.1+0.2的问题
            const price = Number((this.total * 100).toFixed());
            const pay_price_min = Math.floor(price * (1 - 0.006));
            const pay_price_max = Math.ceil(price * (1 - 0.006));
            // console.log(pay_price_min, pay_price_max, price, price / (1 - 0.006));
            let fee = Math.round(price * 0.006);
            let real_price = price - fee;
            if (real_price === pay_price_min) {
                return pay_price_min;
            }
            fee = Math.round(price * 0.006);
            real_price = price - fee;
            if (real_price === pay_price_max) {
                return pay_price_max;
            }
            return price;
        }
    },
    methods: {
        // 切换红包模式
        changeMode() {
            if (this.mode === "average") {
                this.mode = "luck";
            } else {
                this.mode = "average";
            }
            this.$emit("onChangeMode", this.mode);
        },
        //发送红包
        send() {

        },
        //检查单个红包金额
        checkPrice() {
            const { price } = this;
            if (price === "") return true;
            //检查价格
            //  拼手气最大数字可以输入200，
            if (price > (this.mode === "luck" ? 200 : 198.8)) {
                return "一次最多只能发" + (this.mode === "luck" ? 200 : 198.8) + "元红包哦";
            } else if (price < 0.01 && price !== 0) {
                return "单次红包不得低于0.01元哦";
            }
            if (this.count && this.price && this.checkTotal() !== true) {
                return this.checkTotal();
            }
            return true;
        },
        //检查红包数量
        checkCount() {
            const { count } = this;
            if (count === "") return true;
            //家产数量
            if (count > 50) {
                return "一次最多只能发50个红包哦";
            } else if (count < 1) {
                return "红包数量不能低于1个哦";
            }
            if (this.checkTotal() !== true && this.count && this.price) {
                return this.checkTotal();
            }
            return true;
        },
        //检查总额
        checkTotal() {
            if (this.total > (this.mode === "luck" ? 200 : 198.8)) {
                return "一次最多只能发" + (this.mode === "luck" ? 200 : 198.8) + "元红包哦";
            }
            if (this.mode === "luck" && this.total / this.count < 0.01) {
                return "单次红包不得低于0.01元哦";
            }
            return true;
        },
        getPayResult(val) {
            console.log("getPayResult", val);
            this.currentRedEnvelopOrderId = val.data.order_id;
            this.currentRedEnvelopeId = val.data.id;
        },
        //当前支付状态
        curPayStatus(val) {
            console.log("curPayStatus", val);
            if (val === "success") {
                this.$emit("onLaunchSuccess");
                this.resetData();
                this.setState({
                    redEnvelope: false
                });
                // 关闭讲师'+'panel
                this.changeInputStatus(0);
                //    创建定时器,关注im消息是否收到,没有收到就要toast
                this.checkImOrderTimeout = setTimeout(() => {
                    // Toast("消息异常，刷新一下试试吧~");
                    // 发送请求，查询红包状态
                    let code = 0;
                    if (code === -1) {
                        Toast("opps！网页开小差啦~请刷新重试下吧");
                        return;
                    } else {
                        Toast("something wrong！我们将在24小时之内给您退钱！");
                        return;
                    }
                    // });
                }, 5000);
                // if(this.currentRedEnvelopOrderId!==)
            }
        },
        resetData() {
            this.price = "";
            this.count = "";
            this.bestwish = "";
            this.mode = "luck";
        },
        inputFoucs() {
            // if (this.$detector.os.android) this.$emit("onInputFoucs");
        },
        inputBlur() {
            // if (this.$detector.os.android) this.$emit("onInputBlur");
        }
    },
    watch: {
        bestwish(newVal) {
            //自动增加textarea高度
            const scroll = this.$refs.bestWishDom;
            scroll.style.height = scroll.scrollHeight + "px";
            const prev = this.bestwish;
            if ([...newVal].length > 25) {
                console.log(prev);
                this.bestwish = [...prev].splice(0, 25).join("");
            } else {
                this.bestwish = newVal;
            }
        },
        price(value, prev) {
            if (value.match(/^(([1-9]\d*)|0)(\.\d{0,2})?$/)) {
                this.price = String(value).substring(0, 7);
            } else {
                if (value === "") this.price = "";
                else this.price = String(prev).substring(0, 7);
            }
            if (this.price !== "0.00" && this.price <= (this.mode === "luck" ? 200 : 198.8)) return;
            const message = this.checkPrice();
            if (message === true) {
                Toast.clear();
                return;
            }
            // 安卓ios 消息位置区分处理
            Toast({
                message,
                // position: this.$detector.os.ios ? "center" : "bottom"
            });
        },
        count(value, prev) {
            if (value.match(/^[0-9]{1,4}$/)) {
                this.count = value;
            } else {
                if (value === "") this.count = "";
                else this.count = prev;
            }
            // if (!this.price) return;
            const message = this.checkCount();
            if (message === true) {
                Toast.clear();
                return;
            }
            Toast({
                message,
                // position: this.$detector.os.ios ? "center" : "bottom"
            });
        },
        redEnvelope(val) {
            if (val === false) {
                this.resetData();
            }
        },
        mode() {
            const message = this.checkTotal();
            if (message === true) {
                Toast.clear();
                return;
            }
            Toast({
                message,
                // position: this.$detector.os.ios ? "center" : "bottom"
            });
        }
    }
};
</script>

<style lang="scss" scoped>
.launch {
    padding-top: 16px;
    overflow: auto;
}
.preview {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 32px;
    .price {
        font-size: 40px;
        font-weight: 800;
        color: #333333;
    }
    .button {
        font-weight: bold;
        width: 105px;
        height: 40px;
        background: linear-gradient(90deg, #ff4953 0%, #ff654d 50%, #ff8147 100%);
        border-radius: 22px;
        color: #fff;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 17px;
        &.disable {
            opacity: 0.4;
        }
    }
}
.visiableNone {
    visibility: hidden;
}
.formItem {
    display: flex;
    background-color: #fff;
    font-size: 14px;
    padding: 14px 16px;
    position: relative;
    align-items: center;
    .name {
        color: #333333;
    }
    .border {
        width: calc(100% - 16px);
        border-bottom: 1px solid #eee;
        position: absolute;
        bottom: 0;
    }
    .tag {
        margin-left: 4px;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        background-color: #f0b55f;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }
    .right {
        flex: 1;
        text-align: right;
        input {
            text-align: right;
            border: 0;
        }
        span {
            margin-left: 4px;
        }
        textarea {
            text-align: left;
            width: 100%;
            resize: none;
            height: 20px;
        }
    }
    .bestwishCounter {
        color: #999;
        //position: absolute;
        //bottom: 0;
        text-align: right;
    }
}
input,
textarea {
    &::placeholder {
        color: #cccccc;
    }
}

/*H5设计规范样式*/
/*颜色*/
.EC1 {
    color: #09bb07;
}
.EC1_BG {
    background-color: #09bb07;
}
.EC2 {
    color: #ff6b67;
}
.EC2_BG {
    background-color: #ff6b67;
}
.EC3 {
    color: #576b95;
}
.EC3_BG {
    background-color: #576b95;
}
.EC4 {
    color: #ff9b2c;
}
.EC4_BG {
    background-color: #ff9b2c;
}
.EC5 {
    color: #353535;
}
.EC5_BG {
    background-color: #353535;
}
.EC6 {
    color: #888888;
}
.EC6_BG {
    background-color: #888888;
}
.EC7 {
    color: #b2b2b2;
}
.EC7_BG {
    background-color: #b2b2b2;
}
.EC8 {
    color: #e5e5e5;
}
.EC8_BG {
    background-color: #e5e5e5;
}
.EC9 {
    color: #efeff4;
}
.EC9_BG {
    background-color: #efeff4;
}
.EC10 {
    color: #ffffff;
}
.EC10_BG {
    background-color: #ffffff;
}
.EC12 {
    color: #4a4c5b;
}

/*字号*/

.ET1 {
    font-size: 20px;
}
.ET2 {
    font-size: 18px;
}
.ET3 {
    font-size: 16px;
}
.ET4 {
    font-size: 15px;
}
.ET5 {
    font-size: 14px;
}
.ET6 {
    font-size: 12px;
}
.ET7 {
    font-size: 10px;
}
</style>
